In [57]:
import  pandas as pd
from scipy.stats import ttest_rel,ttest_1samp

In [22]:
titan = pd.read_csv('Titan.csv')
titan.head()

   SALESPERSON  Old Scheme  New Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [23]:
old_scheme_mean = titan.loc[:,'Old Scheme'].mean()
print("old scheme mean",old_scheme_mean)
new_scheme_mean = titan.loc[:,'New Scheme'].mean()
print("new scheme mean",new_scheme_mean)

old scheme mean 68.03333333333333
new scheme mean 72.03333333333333

In [49]:
#h0: old_scheme_mean = new_scheme_mean (null hypothesis)
#h1: new_scheme_mean > old_scheme_mean (alternative hypothesis)
#Since new_scheme_mean is greater than a value(alternative hypothesis) the rejection region lies in the upper side, so a one tail t-test has to be used.
#Let level of significance = 0.05
ttest,pval = ttest_rel(titan.loc[:,'New Scheme'], titan.loc[:,'Old Scheme'])
print("p value:",pval,"t value:",ttest)
#Since we are using one-tail test we use p/2
one_tail_pval = pval/2
print(one_tail_pval)

p value: 0.130575539613 t value: 1.55591438235
0.0652877698067

In [30]:
print("Since p value:",one_tail_pval,"is greater than alpha 0.05, we do not reject the null hypothesis. Which means that the new scheme does not have significantly raised outputs")

Since p value: 0.0652877698067 is greater than alpha 0.05, we do not reject the null hypothesis. Which means that the new scheme does not have significantly raised outputs

In [32]:
print("The probaility of type-1 error or the level of significance I have chosen is 5% (i.e) alpha = 0.05 ")

The probaility of type-1 error or the level of significance I have chosen is 5% (i.e) alpha = 0.05

In [64]:
#h0: old_scheme_mean - new_scheme_mean < 5000 (null hypothesis)
#h1: new_scheme_mean-old_scheme_mean >= 5000 (alternative hypothesis)
#Since new_scheme_mean is greater than a value(alternative hypothesis) the rejection region lies in the upper side, so a one tail t-test has to be used.
#Let level of significance = 0.05


ttest1,pval1 = ttest_1samp(titan.loc[:,'Old Scheme'],old_scheme_mean+5 )
print("p value:",pval1/2,"t value:",ttest1)

#Since p value > alpha we do not reject null hypothesis

p value: 0.0955210854812 t value: -1.33878345556

In [74]:
print("The power of the test is:")
print(ttest_power(5 / np.std(titan.loc[:,'Old Scheme']), nobs=30, alpha=0.05, alternative='larger'))

The power of the test is:
0.37638563925